
<library path="libpublisher_example_lib">
    <class name="tam_hsr_controller/PublisherExample" type="tam_hsr_controller::PublisherExample" base_class_type="rviz::Panel">
        <description>
            A custom RViz panel for publishing messages to a topic.
        </description>
    </class>
</library>


<library path="libhsr_talker_lib">
    <class name="tam_hsr_controller/HSRTalker" type="tam_hsr_controller::HSRTalker" base_class_type="rviz::Panel">
        <description>
            HSRに発話内容を送信できるpanel
        </description>
    </class>
</library>